*{
    box-sizing:border-box;
}
body{
    padding: 0;
    margin:0;
    width:100%;
    height: 100vh;
}

.span-container{
    width: 60px;
    height:30px;
    margin-right: auto;
}
.span-container span{
    fill:#F1641e;
}
.span-luv{

    padding: 12px;
    padding-right: 10px;
}
.sign-in button{
    background: transparent;
    border: none;
    font-weight: 600;
}
.sign-in{
    padding: 9px 6px;
    margin-right: 6px;
}
.header-child-one{
    display:flex;
    padding:0px 9px;
    align-items: center;
    justify-content: space-between;
    height: 46px;

}
.basket-svg-container{
    padding: 12px;
}
